@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300;700&display=swap');

$black: #121212;
$dark_grey: #404040;
$white: #FFFFFF;
$pink: #ED3996;
$light_pink: #FAC7E1;
$dark_pink: #D51477;

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
input {
    font-family: 'Akshar', sans-serif;
    text-align: start;
    margin: 0;
    color: #121212;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    font-style: normal;
}

h2 {
    font-size: 40px;
    font-weight: bold;
    font-style: normal;
}

h3 {
    font-size: 36px;
    font-weight: bold;
    font-style: normal;
}

h4 {
    font-size: 36px;
    font-weight: normal;
    font-style: normal;
}

h5 {
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
}

h6 {
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
}

p {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    margin: 4px 0;
    white-space: pre-line;
}

a {
    text-decoration: none;
}

.section {
    padding: 32px;
}